<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Contato - Natália Fernandes</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>

<div class="container">

    <h1>Contato</h1>

    <p>
        📧 Email: 
        <a href="mailto:criativosnatalia@gmail.com">
            criativosnatalia@gmail.com
        </a>
    </p>

    <p class="whatsapp">
        📱 WhatsApp: 
        <a href="https://wa.me/5569992949898" target="_blank">
            69 9 9294-9898
        </a>
    </p>

</div>

</body>
</html>